body {
  margin: 0;
}

section {
  height: 500px;
  /* background-color: blue; */
  border: solid black 1px;
  padding: 1rem;
}

.hero {
  background-color: red;
  height: 100vh;
  font-size: 30px;
}

footer {
  height: 500px;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
}

li {
  /* width: 200px */
  text-decoration: none;
}
