:root {
  --rich-black: #0e1116;
  --bright-green: #6bd425;
  --dark-green: #3d8011;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(90deg, #0e1116, #112342);
}

section {
  min-height: 100vh;
}

.hero {
  font-size: 30px;
  color: white;
}

nav * {
  font-size: 1.2rem;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  margin: 1rem;
}

li {
  text-decoration: none;
}

.typewriter {
  display: inline-block;
}

.typewriter h2 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #0d6efd; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #0d6efd;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.hero-text > h1 {
  font-weight: 700;
}

.hero-container {
  display: flex;
  /* flex-direction: column; */
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-top: 1rem;
  padding-top: 0.6rem;
  width: 170px;
  height: 50px;
  border-radius: 10rem;
  text-align: center;
  background-color: var(--bright-green);
  color: white;
}

.button:hover,
.button:active {
  background-color: var(--dark-green);
}

.social-links {
  padding-bottom: 9rem;
  margin-left: 0.5rem;
  display: flex;
  gap: 1rem;
}

.social-links * {
  margin: 0.85rem 0;
}

/* projects section */
.projects-section > h2 {
  color: white;
  text-align: center;
  padding-bottom: 2rem;
  font-weight: 700;
}

.slick-slide img {
  max-width: 100%;
  padding: 5px;
}

.project-description {
  padding: 1rem;
  color: white;
}

.project-thumbnail {
  border-radius: 1rem;
  -webkit-filter: brightness(100%);
  transition: 0.3s ease;
}

.project-thumbnail:hover {
  border-radius: 1rem;
  -webkit-filter: brightness(50%);
  transform: scale(1.03);
  transition: 0.3s ease;
}

/* ABOUT ME SECTION */
.about-me-section {
  color: white;
}

.about-me-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  font-size: 1.3rem;
}

.about-me-section > h2 {
  font-weight: 700;
}

.about-me-leftside {
  flex: 1.5 1;
}

.about-me-rightside {
  flex: 1.5 1;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px  */

@media (max-width: 992px) {
  .about-me-content {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .about-me-content {
    font-size: 1rem;
  }
}

/* CONTACT ME SECTION */
footer {
  color: white;
  background-color: var(--rich-black);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.contact-section > h3 {
  font-weight: 700;
}
.resume-link {
  text-decoration: none;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 350px) {
  .contact-section {
    flex-direction: column;
  }
}
